[submodule "docker-ngrok"]
	path = docker-ngrok
	url = https://github.com/neofung/docker-ngrok.git
[submodule "shadowsocks_install"]
	path = shadowsocks_install
	url = https://github.com/teddysun/shadowsocks_install.git
